{% extends 'main/index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block title %}
    Вход
{% endblock %}
<body style="background-color: #3b3939">
}
{% block first_section %}
<section class="first-block">
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message|safe }}
                <a href="{% url 'register' %}" class="close">✖</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
    <div class="fix-container">
        <div class="reg_block">
            <form class="registration-form" method="post">
                {% csrf_token %}
                {% if error %}
                <p>
                    {{ error }}
                </p>
                {% endif %}
                <h1>Создайте свой аккаунт</h1>
                <div class="registration_group">
                    <div class="mb-3">
                        <label for="username">Логин:</label>
                        <input type="text" id="username" name="username" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="email">Почта:</label>
                        <input type="text" id="email" name="email" class="reg-form__input form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="password">Пароль:</label>
                        <input type="password" id="password" name="password" class="reg-form__input form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="password2">Повторите пароль:</label>
                        <input type="password" id="password2" name="password2" class="reg-form__input form-control" required>
                    </div>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="checkRememberme" required>
                  <label class="form-check-label" for="checkRememberme" style="font-size: small; margin-bottom: 10px ">
                    Я принимаю <a href="/terms">условия использования</a> и <a href="/privacy">политику конфиденциальности</a>
                  </label>
                </div>
                <div class="form_actions">
                    <button type="submit" class="btn btn-primary btn-large" style="margin: 0">
                        Начать создавать
                    </button>
                    <p class="login-link" style="margin: 0">
                        Уже есть аккаунт? <a href="/login">Войдите</a>
                    </p>
                </div>
            </form>
            <div class="reg_link_video">
                <video class="video_req" autoplay muted id="myVideo" src="{% static '333.mp4' %}"></video>
            </div>
        </div>
    </div>
</section>
{% endblock %}
</body>
</html>