{% extends 'main/index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block title %}
    Вход
{% endblock %}
<body style="background-color: #3b3939">
}
{% block first_section %}
<section class="first-block">
    <div class="fix-container">
        <div class="reg_block">
            <form class="reg-form" method="post">
                {% csrf_token %}
                {% if error %}
                <p>
                    {{ error }}
                </p>
                {% endif %}
                <h1>Войдите в свой аккаунт</h1>
                <div class="req_group">
                    <div class="mb-3">
                        <label for="username">Логин:</label>
                        <input type="text" id="username" name="username" class="reg-form__input form-control" required>
                    </div>
                    <div>
                        <label for="password">Пароль:</label>
                        <input type="password" id="password" name="password" class="reg-form__input form-control" required>
                    </div>
                </div>
                <div class="req_info_group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="checkRememberme">
                      <label class="form-check-label" for="checkRememberme">
                        Запомнить меня
                      </label>
                    </div>
                    <div>
                        <a href="#">Забыли пароль?</a>
                    </div>
                </div>
                <div class="button-req">
                    <input type="submit" class="btn btn-primary" value="Войти">
                </div>
            </form>
            <div class="reg_link">
                <div class="req_link_img"><img src="{% static 'user-person-profile-check (1).svg' %}"></div>
                <div><p>Войти используя социальные сети</p></div>
                <div class="button_log">
                    <button type="button" class="btn btn-primary">Войти с Vk</button>

                    <button type="button" class="btn btn-danger">Войти с Google</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
</body>
</html>