{% extends 'main/index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block title %}
    Вход
{% endblock %}
<body style="background-color: #3b3939">
}
{% block first_section %}
<section class="first-block">
    <div class="fix-container">
        <form class="reg-form" method="post">
            {% csrf_token %}
            {% if error %}
            <p>
                {{ error }}
            </p>
            {% endif %}
            <h1>Вход</h1>
            <div class="mb-3">
                <label for="username">Логин:</label>
                <input type="text" id="username" name="username" class="reg-form__input form-control" required>
            </div>
            <div>
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" class="reg-form__input form-control" required>
            </div>
            <div class="button-req">
                <input type="reset" class="btn btn-danger" value="Сбросить">
                <input type="submit" class="btn btn-primary" value="Войти">
            </div>
        </form>
        <div class="login_logo"><img src="{% static 'login.png' %}"></div>
    </div>
</section>
{% endblock %}
</body>
</html>