{% extends 'main/index.html' %}

{% block first_section %}
<section>
    <div class="catalog">
    {% include "catalog/filters.html" %}
        <div class="catalog-block">
            {% for products in page_obj  %}
            <div class="fix-container3">
                {% for product in products %}
                <div class="product">
                    <div class="product-image">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    </div>
                    <div class="product-name"><a href="{% url "product-detail" pk=product.id %}">{{ product.name }}</a></div>
                    <div class="product-description">{{ product.description}}</div>
                    <div class="product-price">{{ product.price }} руб</div>
                    <div class="product-actions">
                        <a href="#" type="button" class="product-btn">В корзину</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="paginator-block">{% include "main/pagination.html" %}</div>
</section>
{% endblock %}