<div class="filters">
    <form method="get" action="{% url 'products' %}">
        <div class="block-filters">
            <!-- Фильтр по цене -->
            <div class="filter-group">
                <label for="priceRange" class="form-label">Цена, руб</label>
                <input type="range" class="form-range" min="0" max="10000" value="5000" id="priceRange">
                <div class="price-values">
                    <span>0</span>
                    <span id="currentPrice">5000</span>
                    <span>10000</span>
                </div>
            </div>

            <!-- Фильтр по категориям -->
            <div class="filter-group">
                <label class="form-label">Категория</label>
                <div class="checkbox-group">
                    <label><input class="form-check-input" type="checkbox" name="category"> Готовая фигурка</label>
                    <label><input class="form-check-input" type="checkbox" name="category"> Под покраску</label>
                    <label><input class="form-check-input" type="checkbox" name="category"> Под заказ</label>
                </div>
            </div>

            <div class="filter-group">
                <label class="form-label">Пластик</label>
                <div class="checkbox-group">
                    <label><input class="form-check-input" type="checkbox" name="type" value="PLA"
                        {% if "PLA" in request.GET.getlist  %}checked{% endif %}>PLA</label>
                    <label><input class="form-check-input" type="checkbox" name="type" value="PETG"
                        {% if "PETG" in request.GET.getlist  %}checked{% endif %}>PETG</label>
                    <label><input class="form-check-input" type="checkbox" name="type" value="ABS"
                        {% if "ABS" in request.GET.getlist %}checked{% endif %}>ABS</label>
                </div>
            </div>

            <!-- Фильтр по рейтингу -->
            <div class="filter-group">
                <label class="form-label">Рейтинг</label>
                <div class="checkbox-group">
                    <label><input class="form-check-input" type="checkbox" name="rating"> ★★★★★</label>
                    <label><input class="form-check-input" type="checkbox" name="rating"> ★★★★☆ и выше</label>
                    <label><input class="form-check-input" type="checkbox" name="rating"> ★★★☆☆ и выше</label>
                </div>
            </div>

            <!-- Кнопки фильтрации -->
            <div class="filter-buttons">
                <button type="submit" class="apply-btn">Применить</button>
                <button type="reset" class="reset-btn">Сбросить</button>
            </div>
        </div>
    </form>
</div>