{% extends 'main/index.html' %}

{% block first_section %}
    <section class="product-block">
        <div class="fix-container-item">
            <div class="product-details">
                <div class="img_product">
                    <img src="{{ product.image.url}}" alt="Нет изображения">
                </div>
                <div class="desc_product">
                    <h2>{{ product.name }}</h2>
                    <div>{{ product.description|default:"Нет описания" }}</div>
                    <div class="pay-product">
                        <div>Цена: {{ product.price }}</div>
                        <form action="{% url 'basket' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <button type="submit" class="product-btn" style="width: 150px; margin-top: 15px">В корзину</button>
                        </form>
                    </div>
                </div>

            </div>
             <table class="table table-dark table-hover">
                 <tbody>
                 <tr>
                     <td>Наименование</td>
                     <td>{{ product.specifications.name|default:"Не указано" }}</td>
                 </tr>
                 <tr>
                     <td>Размер</td>
                     <td>{{ product.specifications.size|default:"Не указано" }}</td>
                 </tr>
                 <tr>
                     <td>Покраска</td>
                     <td>{{ product.specifications.painting|default:"Не указано" }}</td>
                 </tr>
                 <tr>
                     <td>Цвет</td>
                     <td>{{ product.specifications.color|default:"Не указано" }}</td>
                 </tr>
                 <tr>
                     <td>Тип пластика</td>
                     <td>{{ product.specifications.material|default:"Не указано"}} </td>
                 </tr>
                 </tbody>
            </table>

        </div>
    </section>
{% endblock %}