{% extends 'main/index.html' %}

{% block first_section %}

    <section>
    <div class="catalog">
        <div class="filters">
        </div>
        <div class="servises-block">
            {% for products in product_list %}
            <div class="fix-container3">
                {% for product in products %}
                <div class="product">
                    <div><img src="{{ product.image }}"></div>
                    <div class="product-name">{{ product.name }}</div>
                    <div class="product-description">{{ product.description }}</div>
                    <div class="product-price">{{ product.price }} руб</div>
                    <div><button type="button" class="product-btn">В корзину</button></div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    </section>
{% endblock %}