{% extends "main/index.html" %}
{% load static %}
{% block title %}
    Profile
{% endblock %}
{% block first_section %}
    <section class="profile-section">
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="profile-container">
                <div class="avatar">
                    <label for="file-input" style="cursor: pointer;">
                        {% if profile.avatar %}
                            <img id="avatar-preview" src="{{ profile.avatar.url }}" alt="Выбрать файл" width="100">
                        {% else %}
                            <img id="avatar-preview" src="{% static 'profile.png'%}" alt="Выбрать файл" width="100">
                        {% endif %}
                    </label>
                    <input type="file" id="file-input" name="avatar" accept="image/*" style="display: none;">
                    <button type="submit" class="btn btn-outline-danger" name="delete" value="1">Удалить аватар</button>
                </div>
                <div class="data-profile">
                    <h1>{{ profile.user.username }}</h1>
                    <div class="mb-3">
                        <label for="usernameInput" class="form-label">Логин</label>
                        <input type="text" class="form-control " id="usernameInput" name="username" value={{ profile.user.username }} required>
                    </div>
                    <div class="mb-3">
                        <label for="phoneInput" class="form-label">Телефон</label>
                        <input type="tel" class="form-control " id="phoneInput" name="phone" value={{ profile.phone }} required>
                    </div>
                    <div class="mb-3">
                        <label for="emailInput" class="form-label">Email</label>
                        <input type="email" class="form-control " id="emailInput" name="email" value={{ profile.email }} required>
                    </div>
                    <div class="mb-3">
                        <label for="passwordInput" class="form-label">Пароль</label>
                        <input type="password" class="form-control " id="passwordInput" name="password">
                    </div>
                    <div class="mb-3">
                        <label for="newpasswordInput" class="form-label">Новый пароль</label>
                        <input type="password" class="form-control " id="newpasswordInput" name="newPassword">
                    </div>
                    <div class="mb-3">
                        <label for="tryPasswordInput" class="form-label">Повторите пароль</label>
                        <input type="password" class="form-control " id="tryPasswordInput" name="tryPassword">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg">Сохранить</button>
                </div>
        </div>
    </form>
    </section>
{% endblock %}