{% extends 'main/index.html' %}
{% load static %}

{% block title %}
    Корзина
{% endblock %}

{% block first_section %}
    <section class="first-section">
        <div class="basket-app">
            <h1>Корзина</h1>

            <!-- Блок загрузки -->
            <div v-if="loading">Загрузка корзины...</div>

            <!-- Блок с товарами -->
            {% verbatim %}
                <div v-else-if="baskets.length > 0">
                    <div v-for="basket in baskets" :key="basket.id" class="basket-item">
                        <div class="basket-block">
                            <img :src="basket.product.image" class="basket-image">
                            <div class="basket-info">
                                <div><h4>{{ basket.product.name }}</h4></div>
                                <div>Цена: {{ basket.price }} ₽</div>
                                <div class="price-one">{{ basket.product.price }} ₽ / шт.</div>
                            </div>
                        </div>
                        <div class="basket-controls">
                            <button class="basket-btn_rem" @click="removeFromBasket(basket.id, 'all')">x</button>
                            <button class="basket-btn" @click="removeFromBasket(basket.id, 'one')">-</button>
                            <div class="basket-count">{{ basket.count }}</div>
                            <button class="basket-btn" @click="addBasket(basket.id, basket.product.id)">+</button>
                        </div>
                    </div>
                    <div class="basket-final">
                        <div class="basket-counter" v-text="totalCount"></div>
                        <h5>Итого: {{ totalCount }} {{ totalCountText}}</h5>
                        <h5>Общая стоимость: {{ totalPrice }} ₽</h5>

                    </div>
                </div>
                <div v-else>
                    <h2>Товаров в корзине нет</h2>
                </div>
            {% endverbatim %}
            <a href="{% url 'order' %}" class="btn btn-primary btn-lg">Перейти к оформлению</a>
        </div>
    </section>
{% endblock %}