{% extends 'main/index.html' %}
{% load static %}

{% block title %}
    Заказ
{% endblock %}

{% block first_section %}
    <section class="section">
    <div class="fix-container-4">
        <h1>Заказ</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Количество</th>
                    <th>Стоимость</th>
                </tr>
            </thead>
            <tbody>
            {% for basket in baskets %}
                <tr>
                    <td>{{ basket.product.name }}</td>
                    <td>{{ basket.count }}</td>
                    <td>{{ basket.price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="section-delivery">
            <h2>Доставка</h2>
            <div class="mb-3">
              <label for="exampleFormControlInput2" class="form-label">ФИО</label>
              <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com" value="{{ profile.user.username }}">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Адрес электронной почты</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" value="{{ profile.email }}">
                <div class="form-text">Укажите почту на которую будет сформирован заказ</div>
            </div>
            <div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" >
                  <label class="form-check-label" for="flexRadioDefault1">
                    Самовывоз
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                    Доставка в пределах города
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
                  <label class="form-check-label" for="flexRadioDefault3">
                    Доставка в регионы
                  </label>
                </div>
            </div>
    {% verbatim %}
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Адрес доставки</label>
               <input
                  v-model="geo"
                  @input="geoDecode"
                  @focus="showDropdown = true"
                  class="form-control"
                  placeholder="Введите адрес"
                >
                <div v-if="showDropdown && address.length" class="dropdown-item">
                  <div
                    v-for="(add, index) in address"
                    :key="index"
                    @click="updateGeo(add)"
                    class="dropdown-item clickable-item"
                  >
                    {{ add }}
                  </div>
                </div>
            </div>
            {% endverbatim %}
            <div id="yandex-map" style="width: 100%; height: 400px;"></div>
        </div>
        <div class="section-payment">

            <h2>Выбор способа оплаты</h2>
            <div class="payment">
             <label class="payment-option">
                    <input type="radio" name="payment" value="sbp" checked>
                    <div class="payment-button">
                        <img src="{% static 'sbp-logo.svg' %}">
                    </div>
                    <span>СБП</span>
                </label>

                <label class="payment-option">
                    <input type="radio" name="payment" value="card">
                    <div class="payment-button">
                        <img src="{% static 'card-logo.svg' %}">
                    </div>
                     <span>Банковская карта</span>
                </label>

                <label class="payment-option">
                    <input type="radio" name="payment" value="yoomoney">
                    <div class="payment-button">
                        <img src="{% static 'dollar-money-svgrepo-com.svg' %}">
                    </div>
                    <span>При получении</span>
                </label>
            </div>
            <div>
                {% verbatim %}
                <h5>Общая стоимость: {{ totalPrice }} ₽</h5>
                {% endverbatim %}
            </div>
            <div style="padding: 20px 0px">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" >Потвердить выбор</button>
                </form>
            </div>
        </div>
    </div>
    </section>
{% endblock %}
